*, 
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.image {
  background-image: url('../images/index.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.header-container {
  height: 15vh;
  padding: 2em 5em;
}

.main-container {
  height: 80vh;
  text-align: center;
  padding-top: 8em;
}

a {
  text-decoration: none;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}

i {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #12aaaa;
  color: #fff;
  padding: 0.9em;
}

input[type=text] {
  width: 30%;
  border: 2px solid #fff;
  padding: 9px 30px;
  margin: 8px 0;
  outline: none;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 60%;
}

button {
  width: 5em;
  height: 40px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-color: none;
  outline: none;
  background-color: #12aaaa;
  color: #fff;
  font-size: 1.5em;
}

@media only screen and (max-width: 600px) {
  .image {
    background-image: none;
    background-color: #12aaaa;
  }

  .header-container {
    padding: 3em 4em;
    font-size: 0.75em;
  }

  i {
    background-color: #fff;
    color: #12aaaa;
    width: 1.5em;
    height: 1.2em;
    text-align: center;
  }

  input[type=text] {
    font-size: 0.75em;
    padding: 8px 15px;
    width: 40%;
  }

  button {
    width: 5em;
    height: 3em;
    font-size: .9em;
    background-color: #fff;
    color: #12aaaa;
  }
}