body {
  margin: 0;
}

a {
  color: #12aaaa;
}

.header-container__color {
  background-color: #fcf5fc;
}

.map-container {
  text-align: center;
}

.map-container h2 {
  font-family: 'Righteous', cursive;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.map-image {
  width: 90vw;
  height: 60vh;
}

.map-details-container {
  display: flex;
  flex-direction: row;
}

.details-container {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  margin: 0 15%;
}

.details-container .details {
  display: flex;
  flex-direction: row;
  height: 30px;
}

.details h5 {
  margin: 0;
  padding-right: 8px;
}

.details button {
  border-radius: 5px;
  font-size: 0.65em;
  width: 35px;
  height: 20px;
  cursor: pointer;
}

.share-button button {
  color: #fff;
  background-color: #1900ff;
  border-radius: 5px;
  width: 100px;
  height: 20px;
  font-size: 0.75em;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.landmarks-container {
  width: 500px;
  height: 300px;
  font-family: 'Roboto', sans-serif;
}

.landmarks-container img {
  width: 100px;
  height: 100px;
}

@media only screen and (max-width: 600px) {

  .header-container {
    padding: 4em 4em;
    font-size: 0.75em;
  }

  h1 {
    top: 10px;
  }

  .map-container h2 {
    font-size: 1.2em;
    letter-spacing: 0.3em;
    text-transform: uppercase;
  }

  .details button {
    background-color: #12aaaa;
    color: #fff;
  }
}
