@import url('https://fonts.googleapis.com/css?family=Lobster|Righteous|Roboto&display=swap');

*, 
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  background-color: #7c6e71;
  color: #fff;
}

.header-container {
  height: 10vh;
  font-family: 'lobster', cursive;
  margin: 5em auto 0 ;
}

.main-container {
  height: 85vh;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

input[type=text] {
  width: 30%;
  border: 2px solid #fff;
  padding: 10px 30px;
  margin: 8px 0;
  outline: none;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 60%;
}

button {
  background-color: #fff;
  color: #000;
  font-size: 1em;
  cursor: pointer;
}

.temp-button {
  width: 4em;
  height: 2em;
  border-color: none;
  outline: none;
  border-radius: 10px;
}

.search-button {
  width: 5em;
  height: 3.4em;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
}

.map-wrapper {
  border-radius: 10px;
  width: 400px;
  height: 300px;
}

.weather-details {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  text-align: left;
}

.share-to-facebook {
  background-color: #0e0af5;
  color: #fff;
  border-color: #0e0af5;
  outline: none;
  text-align: left;
  border-radius: 5px;
  left: 0;
}

@media only screen and (min-width: 500px) {
  .main-container {
    margin: 0 auto;
  }

  .map-wrapper {
    margin-top: 10px;
    width: calc(100vw - 100px);
    height: 400px;
  }
}